<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Appenders>
        <Console name="KMProgramsConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <AsyncLogger name="com.app.service" level="debug" additivity="false">
            <AppenderRef ref="KMProgramsConsole"/>
        </AsyncLogger>
        <AsyncLogger name="KMLog" level="error" additivity="false">
            <AppenderRef ref="KMProgramsConsole"/>
        </AsyncLogger>
        <Root level="info">
            <AppenderRef ref="KMProgramsConsole" />
        </Root>
    </Loggers>
</Configuration>